.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.photo {
  width: 300px;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 50px;
  margin-right: 50px;
  display: flex; 
  flex-direction: column; 
}

.photo img {
  width: 100%;
  height: auto;
}

.photo .caption {
  padding: 10px;
  background-color: #3ec9f7;
  text-align: center;
  height: 15px;
}

.photo h2 {
  margin: 1px 0 0 0; 
  font-size: 15px;
  color: #000000;
  text-align: center; 
}

.photo img:hover {
  transform: scale(1.2);
}